#first{
    width: 500px;
}

#second{
    color: red;
}

.box{
    width: 500px;
}

.yellow{
    background-color: rgb(255, 178, 178);
}
.red{
    background-color: rgb(250, 245, 160);
}

#biodiversityimage {
    background-color: skyblue;
    background-image: url(../img/ScienceReview.png);
    background-size: cover;

    
}